.login {
    background: rgb(43, 130, 171);
    position: absolute;
    min-height: 100vh;
    width: 100vw;
}

.login-header {
    position: absolute;
    display: flex;
    left: 47%;
    font-size: x-large;
    margin-top: 12%;
    color: whitesmoke;
    z-index: 1000;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 25vh;
    position: relative;
    margin: 10% auto;
    width: 15%;
    background: rgb(51, 109, 136);
    padding: 7%;
    border-radius: 8px;
}

.login-form div {
    position: relative;
    margin: auto;
}

.login-form input {
    width: 80%;
    padding: 8px 12px;
    height: 100%;
    gap: 10px;
}

.login-button {
    top: 0;
    margin: auto;
    background: rgb(26, 48, 58);
    border-radius: 4px;
    padding: 10px 20px;
    color: whitesmoke;
}