.signup-header {
    position: absolute;
    display: flex;
    left: 45%;
    font-size: x-large;
    margin-top: 13%;
    color: whitesmoke;
    z-index: 1000;
}

.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px 24px;
    height: 40vh;
    margin: 10% auto;
    width: 35%;
    background: rgb(51, 109, 136);
    padding: 7%;
    border-radius: 8px;
}

.form div {
    position: relative;
    margin: auto;
}

.form input {
    width: 80%;
    padding: 8px 12px;
    height: 100%;
    gap: 10px;
}

.signup-button {
    top: 0;
    margin: auto;
    background: rgb(26, 48, 58);
    border-radius: 4px;
    padding: 10px 20px;
    color: whitesmoke;
}

@media (max-width: 800px) {
    .form {
      gap: 5px;
      height: 60vh;
      margin: 25% auto;
      width: 60%;
    }

    .signup-header {
      margin: 27% auto;
      left: 40%;
    }
}