/* Style for Pixie Graphic */
.pixie {
    position: absolute;
    bottom: 12%;
    right: 10%;
    margin-top: auto;
    width: 75%;
    height: 75vh;
    background-size: contain;
    animation: floatAnimation 5s ease-in-out infinite;
    border-radius: 2%;
  }

  /* Animation to make Pixie float */
  @keyframes floatAnimation {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-10px) rotate(10deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  /* Sparkles effect */
  .sparkle {
    position: absolute;
    top: 30%;
    left: 30%;
    background: radial-gradient(circle, rgba(255,255,255,0.5), rgba(255,255,255,0));
    width: 30%;
    height: 40%;
    border-radius: 50%;
    opacity: 0.5;
    animation: sparkleAnimation 1.5s infinite;
  }
  
  @keyframes sparkleAnimation {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.8;
    }
  }